/* Thêm vào styles.css */
.input-group {
    position: relative;
}

.input-group input {
    width: calc(100% - 30px); /* Đặt chiều rộng của input */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.show-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.show-password i {
    color: #888;
}

.show-password i:hover {
    color: #333;
}
